.primary-overlay {
  background: rgba(111, 119, 226, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main-header {
  background: url(../img/nightsky.jpg);
  background-size: cover;
  background-position: center;
  min-height: 600px;
  color: #fff;
}

.main-header-inner {
  background: url(../img/nightsky.jpg);
  background-size: cover;
  background-position: center;
  min-height: 300px;
  color: #fff;
}

.main-header .showcase {
  padding-top: 80px;
}

.active-link {
  color: #e47309;
  font-weight: bold;
}
.section-developers {
  position: relative;
  background: url(../img/code.jpg);
  background-size: cover;
  background-position: center;
  border-top: #333 solid 5px;
  border-bottom: #333 solid 5px;
  min-height: 180px;
}

.section-podcast {
  position: relative;
  background: url(../img/circuit.jpg);
  background-size: cover;
  background-position: center;
  border-bottom: #333 solid 5px;
  border-top: #333 solid 5px;
  min-height: 140px;
}
.section-podcast a {
  margin-top: 30px;
}

.section-podcast .primary-overlay {
  background: rgba(111, 119, 226, 0.9);
}

.carousel-item p {
  font-size: 20px !important;
}


.img-profile {
  width: 250px;
  height: 250px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-top: 5%;
}

.img-profile img {
  width: auto;
  height: 100%;
  margin-left: -80px;
}

.tabs .indicator {
  background-color: rgb(241, 144, 33) !important;
}

.input-field {
  color: grey !important;
}
  /* label color */
  .input-field label {
    color: grey;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color:grey;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid grey;
    box-shadow: 0 1px 0 0 grey;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid grey;
    box-shadow: 0 1px 0 0 grey;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid grey;
    box-shadow: 0 1px 0 0 grey;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: grey;
  }

.btn-extend {
  display: block;
  width: 100%
}

@media (man-width: 500px) {
  .section-developers,
  .section-podcast {
    min-height: 240px;
  }
}
